ion-grid {
    --ion-grid-column-padding: 16px;
}

ion-modal {
    --width: 90vw;
    --max-width: 1100px;
    --height: 85vh;
    --max-height: 90vh;
}

ion-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
