<ion-content>
    <ion-grid [style.padding]="0">
        <app-guide [name]="name" />
        <ion-row>
            <ion-col class="ion-no-padding">
                <app-alignment-tracker-controls
                    [characters]="characters"
                    (importCharactersEvent)="setCharacters(import($event))"
                />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-alignment-tracker-chart
                    [characters]="characters"
                    [character]="character"
                    (setCharacterAlignmentEvent)="setCharacterAlignment($event)"
                />
            </ion-col>
            <ion-col size="5">
                <app-alignment-tracker-table
                    [characters]="characters"
                    (saveCharacterEvent)="saveCharacter($event)"
                    (deleteCharacterEvent)="deleteCharacter($event)"
                    (setCharacterNameEvent)="setCharacterName($event)"
                    (fillCharacterEvent)="fillCharacter($event)"
                />
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-footer />
</ion-content>
