<ion-content>
    <div class="body A4 landscape">
        @for (sheet of sheets; track sheet) {
            <section class="sheet combat-tokens-sheet">
                @for (token of sheet; track token) {
                    <div
                        [class]="['token', token.size.toLowerCase()]"
                        [style.background-image]="'url(' + token.image + ')'"
                        [style.border-color]="token.colour"
                        [style.background-size]="token.zoom + '%'"
                        [style.background-position-x]="
                            scaleTokenPosition(token.positionX, token.size)
                        "
                        [style.background-position-y]="
                            scaleTokenPosition(token.positionY, token.size)
                        "
                        (click)="deleteToken(token)"
                    ></div>
                }
            </section>
        }
    </div>
</ion-content>
